body {
  width: 100%;
  font-family: 'Manrope', sans-serif;
  background: #ffffff;
}

.error-password-title {
  color: red;
}

.wrapper {
  width: 30%;
  margin: 10px auto;
  padding: 30px;
  border-radius: 10px;
  background: #4f4c95;
}

h1 {
  color: #fff;
}

input {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

label {
  font-size: 22px;
  color: #4f4c95;
  font-weight: bold;
}

/* Стиль контейнера для входных данных */
.container {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

.btn-login {
  margin-left: 10px;
  font-size: 20px;
  padding: 8px 10px;
  background: #4f4c95;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
 border: none;
}

