body {
  width: 100%;
  font-family: 'Manrope', sans-serif;
  background: #ffffff;
}

.error-password-title {
  color: red;
}

.wrapper {
  width: 30%;
  margin: 10px auto;
  padding: 30px;
  border-radius: 10px;
  background: #4f4c95;
}

h1 {
  color: #fff;
}

input {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Стиль кнопки отправки */
input[type=submit] {
  background-color: #4CAF50;
}

label {
  font-size: 22px;
  color: #4f4c95;
  font-weight: bold;
}

/* Стиль контейнера для входных данных */
.container {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
}

/* Окно сообщения отображается, когда пользователь нажимает на поле пароля */
#message {
  display: none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

h3 {
  font-size: 20px;
  color: #4f4c95;
  font-weight: bold;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Добавьте зеленый цвет текста и галочку, когда требования верны */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Добавьте красный цвет текста и букву "x", когда требования неверны */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
